.navbar-items {
  background-image: linear-gradient( to right,  #cfe1ef, #5195c9 );
  font-family: "Righteous", cursive;
  position: fixed;
  width: 100vw;
  z-index: 1;
}
.navbar-items img {
  width: 30px;
}

.nav-items {
  float: left;
  padding-right: 100px;
}
