.top-section-hero {
  display: flex;
  flex-direction: column;
  background-color: #42d1c596;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  padding-bottom: 6rem;
  color: rgba(51, 10, 5, 0.979);
}

.main-hero {
  font-family: "Righteous", cursive;
  display: flex;
  justify-content: space-evenly;
}

.intro-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vertical-line {
  border-left: 0.5rem solid rgb(178, 178, 173, 1);
  height: 30rem;
  border-radius: 50%;
  padding-top: 4rem;

  left: 50%;
}

.image-file {
  height: 40%;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transform: rotate();
  border-radius: 50% 0% 50% 0%;
}

#car-image {
  height: 3.5rem;
  width: 3.5rem;
  transform: scaleX(-1);
  position: relative;
  animation: car-ride 15s 2;
}

#road-image {
  height: 1rem;
  width: 100%;
  position: relative;
  animation: road-anime infinite;
}
@keyframes car-ride {
  0% {
    left: 0%;
  }
  10% {
    left: 10%;
  }
  20% {
    left: 20%;
  }
  30% {
    left: 30%;
  }
  40% {
    left: 40%;
  }
  50% {
    left: 50%;
  }

  70% {
    left: 70%;
  }

  100% {
    left: 100%;
  }
}

@keyframes road-anime {
  0% {
    right: 0%;
  }
  50% {
    right: 50%;
  }
  100% {
    right: 100%;
  }
}
