.main {
  background-color: #393939;
  height: 400vh;
  width: 380vh;
  font-family: "Righteous", cursive;
  color: white;
}

.main h1 {
  padding-left: 100px;
  padding-top: 150px;
  font-size: large;
}

.main h2 {
  padding-left: 180px;
}

.main image {
}
